@import './variables';
@import './custom-table';
@import './mixins';
@import './slider';
@import './sale';
@import './custom';


.custom-form-control, .custom-btn {
    border: 1px solid #EBEBEB;
    box-shadow:none !important;
    border-radius: 2px;
    font-size: 14px;
    transition: all .3s ease;
    padding: 6px 16px 7px 16px;
    color: #868686;
}

.custom-btn:hover {
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color: $btn-primary-color-dark;
}

.custom-btn-primary {
    @include button-style($brand-primary);

}


.custom-btn-primary2 {
    color: #000;
    background-color: $brand-primary;
    border-color: $brand-primary;

    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:active:hover {
        color: #000;
        border-color: $btn-primary-color-dark;
        background-color: $btn-primary-color-dark;
    }
}

.custom-btn-danger {
    @include button-style($brand-danger);
}


